[Unit]
Description=Gunicorn instance to serve Flask app APICOMMS
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory=/home/pablo/Spymovil/python/proyectos/APICOMMSV3/apicomms/
Environment="PATH=/home/pablo/Spymovil/python/proyectos/APICOMMSV3/venv/bin"
ExecStart=/home/pablo/Spymovil/python/proyectos/APICOMMSV3/venv/bin/gunicorn -c gunicorn.conf.py --bind 0.0.0.0:5000 wgsi:app
[Install]
WantedBy=multi-user.target
